.contents-wrapper {
  text-align: center;
  padding: 10px;
  background-image: url("./background.webp");
  background-size: cover;
  background-attachment: fixed;
}

.caution {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.page-title {
  border: double 10px;
  padding: 5px;
  display: block;
}
a {
  font-size: 18px;
  gap: 30px;
  color: blue;
  margin: 15px;
}

.content-title {
  font-size: 30px;
  font-weight: bold;
}

.paraphrase-1 {
  color: red;
}

.paraphrase-2 {
  background: linear-gradient(transparent 70%, pink 60%);
}

@media (max-width: 640px) {
  a {
    font-size: 14px;
  }
  .caution {
    font-size: 14px;
  }
}
